/* You can add global styles to this file, and also import other style files */
/* @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" */
html
{
    font-size: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
    margin: 0;
	background-color: #fafafa;
}