<div class="jumbotron text-center banner">
  <h3>
    <span>
      <i class="glyphicon glyphicon-equalizer" aria-hidden="true"></i>
    </span>
    {{'Twitter Sentiment Analysis Demo' | uppercase }}
  </h3>
</div>
<div class="container">
  <form>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
      <input id="search" type="text" class="form-control" name="search" placeholder="Search">
    </div>
  </form>
  <br/>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let category of keys(categories)" class="col-sm-4">
      <div class="row text-center score-card">
        <span class="category-icon" [style.color]="styles[category].color">
          <i [ngClass]="styles[category].class"></i>
        </span>
        <span class="category-score">{{value(category)}}%</span>
      </div>
      <p>
        <ngb-progressbar class="index" type="success" height=".5rem" [value]="value(category)"></ngb-progressbar>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="tweet-container">
    <div class="tweet-nav">
      <ul>
        <li *ngFor="let tweet of tweets">
          <div class="tweet">
            <div>
              <span class="category-icon pull-left" [style.color]="styles[tweet.category].color">
                <i [ngClass]="styles[tweet.category].class"></i>
              </span>
            </div>
            <p class="text">
              {{tweet.text}}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>